header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    padding: 35px 30px 35px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1{
    font-size: 30px;
}

body{
    margin: 0;
    padding: 0;
}

span{
    color: #FE7D4E;
}

a:link, a:visited{
    text-decoration: none;
}

.wrapper{
    max-width: 999px;
    background: #ffe2e2;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.fix{
    display: flex;
    gap: 30px;
    align-items: center;
}

header a{
    font-weight: bold;
    color: black;
}

.knap{
    background: #edddda;
    color: #FE7D4E;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.knap:hover{
    background: #FE7D4E;
    color: #ffefec;
}

.hero{
    display: flex;
    flex-direction: column;
    background-size: cover;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero\ image.jpg);
    background-position: center;
}

.hero p{
    font-size: 25px;
    text-shadow: black;
}

.hero div{
    padding: 200px 30px 200px 30px;
}

.secondhand{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #ffe2e2;
    justify-content: center;
    padding: 50px;
}

.secondhandfix{
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    flex-wrap: wrap;
    color: gray;
    flex-direction: column;
}

.link1{
    color: gray;
}

.link2{
    color: #543d32;
}

.arrow{
    width: 40px;
    transition: 0.3s;
    fill: gray;
}

.arrow:hover{
    background: black;
    border-radius: 20px;
    fill: white;
}

.arrow2{
    width: 40px;
    transition: 0.3s;
    fill: #543d32;
}

.arrow2:hover{
    background: black;
    border-radius: 20px;
    fill: white;
}

.bog div{
    display: flex;
    justify-content: center;
    color: #543d32;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    padding-bottom: 100px;
}

.fix2{
    display: flex;
    align-items: center;
    color: gray;
    width: 60%;
    justify-content: center;
    justify-content: space-between;
}

.fix2 div{
    display: flex;
    align-items: center;
    flex-direction: row;
}

a:active{
    color: red;
}

.fix2 h2{
    font-size: 20px;
}

.books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.img1{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

.img2{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

.img3{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

.img4{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

.img5{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

.books img{
    transition: 0.5s;
}

.books img:hover{
    margin: -10px -30px -10px -30px;
}

.harrypotter{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.bog{
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bog h1{
    color: #543d32;
    padding: 100px 100px 0px 100px;
}

.p1{
    padding: 0px 100px 0px 100px;
}

.p2{
    padding: 0px 100px 0px 100px;
}

.bog2{
    background: #fcd8de;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.bog2 h2{
    text-align: center;
    padding: 10px 100px 0px 100px;
    color: #543d32;
}

.bog2 img{
    margin-left: auto;
    margin-right: auto;
}

.fix3{
    display: flex;
    flex-direction: column;
}

.forfatter1{
    display: flex;
    font-weight: bold;
    color: rgb(147, 121, 108);
    gap: 120px;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.forfatter2{
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: bold;
    gap: 50px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

.forfatter2 p{
    color: black;
}

.fix3 a{
    color: white;
    background: #FE7D4E;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 1px 2px 30px 5px rgba(0, 0, 0, 0.3)
}

.fix3 a:hover{
    background: white;
    color: #FE7D4E;
    box-shadow: 1px 2px 30px 5px rgba(255, 255, 255, 0.3)
}

.cover{
    text-align: center;
    background: url(./img/Cover-Bogklub.jpg);
    background-size: cover;
    padding: 250px 0px 250px 0px;
}

.cover a{
    color: white;
    background: #FE7D4E;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 1px 2px 30px 5px rgba(0, 0, 0, 0.3)
}

.cover a:hover{
    color: #FE7D4E;
    background: white;
    box-shadow: 1px 2px 40px 5px rgba(255, 255, 255, 0.3)
}

footer{
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    color: #543d32;
    justify-content: center;
    gap: 20%;
    padding-top: 50px;
}

footer h1{
    font-size: 30px;
}

footer h2{
    font-size: 20px;
}

footer p{
    margin-top: -10px;
}

.media{
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
}

.media svg{
    width: 70px;
    fill: #FE7D4E;
    transition: 0.3s;
}

.media svg:hover{
    fill: #543d32;
}

@media screen and (min-width: 1000px){
    .wrapper{
        max-width: 100%;
    }

    header{
        padding: 35px 150px 35px 150px;
    }

    header h1{
        font-size: 35px;
    }

    .hero{
        padding: 150px 200px 150px 200px;
    }

    .hero p{
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .books{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fix2{
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        width: 80%;
    }

    .secondhandfix{
        flex-wrap: wrap;
        justify-content: center;
    }

    .harrypotter{
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }

    .bog2{
        flex-direction: row;
    }

    .bog2 img{
        margin-left: 0;
        margin-right: 0;
    }

    .bog2{
        padding: 50px 100px 50px 100px;
    }

    .bog h1{
        padding: 50px 50px 50px 50px;
    }

    .bog{
        width: 30%;
    }

    .paragraf{
        padding: 0px 80px 0px 80px;
    }

    .cover{
        padding: 350px 0px 350px 0px;
    }

    .footerimg{
        width: 35%;
        margin-top: -50px;
        margin-right: -130px;
    }

    footer div{
        margin-right: -50px;
    }
}